/* =================== BASIC STYLES =================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  /* Font */
  font-family: sans-serif;
  font-size: 1.6rem;

  /* In order to position the like button */
  position: relative;
}

/* LINKS */
a:link,
a:visited {
  /* General */
  display: inline-block;
  text-decoration: none;

  /* Font */
  color: #1098ad;
}
a:hover {
  color: red;
  text-decoration: underline solid currentColor;
}

/* HEADINGS */
h1,
h2,
h3 {
  color: #1098ad;
}

h4 {
  font-size: 2rem;
}

/* Other text */
h4,
p,
li {
  color: #444;
}

/* BUTTONS */
button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}

/* =================== GENERAL PAGE LAYOUT =================== */

/* PAGE CONTAINER */
.container {
  /* Box */
  width: 120rem;
  margin: 0 auto 3rem;

  /* Layout */
  display: grid;
  grid-template-columns: 1fr 30rem;
  column-gap: 7.5rem;
  row-gap: 6rem;
}

/* MAIN SECTION LAYOUT */
/* .main-container { */
/* Box */
/* margin-bottom: 6rem; */

/* Layout */
/* display: flex;
  align-items: flex-start;
  gap: 7.5rem; */
/* } */

/* =================== HEADER SECTION =================== */
/* HEADER */
.main-header {
  /* Box */
  padding: 2rem;

  /* Layout */
  grid-column: 1 / -1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Style */
  background-color: #f7f7f7;
}

/* PAGE TITLE */
h1 {
  /* Font */
  font-size: 2.6rem;
  font-style: italic;
  text-transform: uppercase;
}

/* THE BOOK EMOJI */
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* NAVBAR */

/* NAVBAR LINKS */
.nav-list {
  list-style: none;

  /* Layout */
  display: flex;
  gap: 3rem;
}

/* =================== BLOG SECTION =================== */
/* POST CONTAINER */
.post-container {
  /* Layout */
  flex: 1;
}

/* POST HEADER */
.post-header {
  margin-bottom: 4rem;
}

/* AUTHOR BOX */
.author-box {
  /* Box */
  margin-bottom: 1.5rem;

  /* Layout */
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* AUTHOR'S IMAGE */
.author-img {
  /* !This code was used to layout this content using floats */
  /* float: left; */
}

/* AUTHOR'S POST INFO */
.author {
  /* Font */
  font-style: italic;
  font-size: 1.6rem;

  /* Layout */
  /* !This code was used to layout this content using floats */
  /* float: left;
  margin-left: 2rem;
  margin-top: 1.2rem; */
}

/* POST IMAGE */
.post-img {
  width: 100%;
  height: auto;
}

/* TITLE */
.post-title {
  font-size: 4rem;
  margin-bottom: 3rem;

  /* !In order to position the Top Element */
  position: relative;
}

/* TOP ELEMENT */
.post-title::after {
  content: "TOP";

  /* Font */
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;

  /* Box */
  /* !To properly apply padding to this element, it needs to be a block element. However, by default, any pseudo-element is actually an inline element.*/
  display: inline-block;
  padding: 5px 10px;

  /* Layout */
  position: absolute;
  top: -1.5rem;
  right: -2.5rem;

  /* Style */
  background-color: #ffe70e;
}

/* SUBTITLE */
.post-subtitle {
  font-size: 3rem;
  margin-block: 4rem 2rem;
}

/* PARAGRAPH */
.post-paragraph {
  font-size: 2.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/* LIST */
.post-list {
  margin-left: 5rem;
  margin-bottom: 2rem;
}

/* LIST ITEM */
.post-item {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.post-item:last-child {
  margin-bottom: 0;
}

/* li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}
 li:nth-child(2) {
  color: crimson;
} */

/* =================== RELATED POSTS =================== */

/* GENERAL LAYOUT */
.related-posts-container {
  /* Box */
  padding: 5rem 4rem;
  border-block: 5px solid #1098ad;

  /* Layout */
  /* flex: 0 0 30rem; */
  align-self: self-start;

  /* Style */
  background-color: #f7f7f7;
}

/* HEADER */
.aside-header {
  text-transform: uppercase;
  text-align: center;

  /* Box */
  margin-bottom: 3rem;
}

/* RELATED POSTS LIST */
.related-posts-list {
  list-style: none;
}

/* RELATED POSTS ITEM */
.related-post-item {
  /* Box */
  margin-bottom: 3rem;

  /* Layout */
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* RELATED POSTS LINK */
.related-link:link,
.related-link:visited {
  /* Font */
  font-size: 1.7rem;
  font-weight: bold;

  /* Box */
  margin-bottom: 5px;
}

/* AUTHOR */
.related-author {
  font-size: 1.4rem;
  font-style: italic;
}

/* =================== FOOTER SECTION =================== */
footer {
  /* Layout */
  grid-column: 1 / -1;

  /* Style */
  text-align: center;
}

.copyright {
  font-size: 1.6rem;
}

/* =================== LIKE BUTTON =================== */
.like-btn {
  /* Font */
  font-size: 2.2rem;

  /* Box */
  padding: 1.5rem 2.5rem;
  border-radius: 8px;
  border: 2px solid #1098ad;

  /* Style */
  background-color: #dceff2;

  /* Layout */
  position: absolute;
  right: 4rem;
  bottom: 0rem;
}

/********** PAGE LAYOUT USING FLOAT  **********/

/* HEADER LAYOUT */
/* h1 {
  float: left;
}

.main-navbar {
  float: right;
  margin-top: 1rem;
} */

/* !To address the height collapse of the header caused by its floated elements being removed from the page normal flow */
/* .clearfix::after {
  display: block;
  content: "";
  clear: both;
} */

/* MAIN CONTENT LAYOUT */
/* .post-container {
  width: 83rem;
  float: left;
}

.related-posts-container {
  width: 30rem;
  float: right;
}

footer {
  clear: both;
} */
