/* ------------------------ */
/* BASIC RESET */
/* ------------------------ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

body {
  font-family: "Inter", sans-serif;
}

/* PAGE LAYOUT */
.container {
  /* Box */
  width: 96rem;
  margin-inline: auto;
}

section {
  margin-bottom: 4.8rem;
}

/* HELPER CLASES */
.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8rem;
}

/* IMAGES */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* LISTS */
ul {
  list-style: none;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* ==================== HEADER ==================== */

/* GENERAL LAYOUT */
header {
  /* Layout */
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;

  /* Box */
  margin-block: 4.8rem;
}

/***** HEADER TEXT *****/
/* GENERAL LAYOUT */
.header-text-box {
  /* Layout */
  align-self: center;
}

/* HEADER TITLE */
h1 {
  /* Font */
  font-size: 4.4rem;
  line-height: 1.1;
  letter-spacing: -1px;

  /* Box */
  margin-bottom: 2.4rem;
}

/* HEADER DESCRIPTION */
.header-text {
  /* Font */
  font-size: 1.8rem;
  line-height: 1.7;

  /* Box */
  margin-bottom: 2.4rem;
}

/* ==================== FEATURES SECTION ==================== */

/* SECTION TITLE */
h2 {
  /* Font */
  font-size: 3.6rem;
  letter-spacing: -0.5px;

  /* Box */
  margin-bottom: 4.8rem;
}

/* FEATURES TITLE */
.features-title {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

/* FEATURES DESCRIPTION */
.features-text {
  font-size: 1.8rem;
  line-height: 1.7;
}

/* ==================== TESTIMONIAL SECTION ==================== */

/* GENERAL LAYOUT */
.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

/* TESTIMONIAL TITLE */
.testimonial-title {
  /* Font */
  font-size: 2.4rem;
  letter-spacing: normal;

  /* Box */
  margin-bottom: 2.4rem;
}

/* TESTIMONIAL CONTENT */
.testimonial-text {
  /* Font */
  font-size: 1.8rem;
  font-style: italic;
  line-height: 1.7;

  /* Box */
  margin-bottom: 24px;
}

/* AUTHOR */
.testimonial-author {
  font-size: 1.6rem;
}

/* ==================== CHAIRS SECTION ==================== */
/* GENERAL LAYOUT */
.chair-box {
  padding: 2.4rem;
}

/* TITLE */
h3 {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

/* DETAILS */
.chair-details {
  margin-bottom: 2.4rem;
}
.chair-details li {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}
.chair-details li:last-child {
  margin-bottom: 0;
}

/* PRICE */
.chair-price {
  /* Font */
  font-size: 20px;

  /* Layout */
  display: flex;
  justify-content: space-between;
}
