/* ================= DESIGN SYSTEM ================= */

/* !Bring back the CUSTOM PROPERTIES */

/* TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* ================= GENERAL RESET ================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  /* Font */
  color: #555;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}

/* ================= BASIC STYLES ================= */

/* IMAGE */

/* LINKS */

/* BUTTON */

/* LIST */

/* BUTTON ANIMATION */

/* STRONG */

/* FOCUS STATE */

/* ================= REUSABLE COMPONENTS ================= */

/***** HEADINGS *****/

/***** BUTTONS *****/

/* GENERAL BUTTON STYLES */

/* CTA BUTTON */

/* OUTLINE BUTTON */

/***** LINK ALL RECIPES ******/

/* FORM BUTTON */

/***** LIST *****/
/* ITEM */

/* ICON */

/* ================= HELPER CLASSES ================= */
