/* !REMOVE CUSTOM PROPERTIES AND PUT IT BACK IN general.css */

:root {
  /** PRIMARY COLOR **/
  --color-tint-2: #fdf2e9;
  --color-tint-1: #fae5d3;
  --color-tint-3: #eb984e;
  --color-primary: #e67e22;
  --color-shade-1: #cf711f;
  --color-shade-2: #a15818; /* !Allowed on #fdf2e9*/
  --color-shade-3: #45200a;

  --color-primary-transparent-50: rgba(230, 125, 34, 0.5);
  --color-transparent-1: rgba(253, 241, 232, 0.5);

  /** GRAY COLOR **/
  --color-gray-1: #333;
  --color-gray-2: #555;
  --color-gray-3: #6f6f6f; /* !Allowed on #fdf2e9 */
  --color-gray-4: #767676; /* !Allowed on white */
  --color-gray-5: #888;

  /** TAG COLOR **/
  --color-tag-vegetarian: #51cf66;
  --color-tag-vegan: #a9e34b;
  --color-tag-paleo: #ffd43b;

  /** FONT WEIGHTS **/
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /** LINE HEIGHTS **/
  --line-height-h1: 1.05;
  --line-height-h2: 1.2;
  --line-height-paragraph: 1.8;

  /** LETTER SPACING **/
  --letter-spacing-big-text: -0.5px;
  --letter-spacing-small-text: 0.75px;

  /** SHADOWS **/
  --box-shadow-light: 0 2.4rem 4.8rem rgb(0 0 0 / 7%);
  --box-shadow-dark: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);

  /** BORDER RADIUS **/
  --border-radius-sm: 9px;
  --border-radius-md: 12px;
}

/* ================= HEADER SECTION ================= */

/* GENERAL LAYOUT */
.header {
  /* Box */
  height: 9.6rem;
  padding-inline: 4.8rem;

  /* Layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Style */
  background-color: var(--color-tint-2);
}

/***** NAVBAR *****/

/* GENERAL LAYOUT */
.main-nav-list {
  /* Layout */
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

/* LINK */
.main-nav-link:link,
.main-nav-link:visited {
  /* Font */
  color: var(--color-gray-1);
  font-size: 1.8rem;
  font-weight: var(--font-weight-medium);
}
.main-nav-link:hover,
.main-nav-link:active {
  color: var(--color-shade-1);
}

/* CTA LINK */
.main-nav-link--cta:link,
.main-nav-link--cta:visited {
  /* Font */
  color: white;

  /* Box */
  padding: 1.2rem 2.4rem;
  border-radius: var(--border-radius-sm);

  /* Style */
  background-color: var(--color-primary);
}
.main-nav-link--cta:hover,
.main-nav-link--cta:active {
  background-color: var(--color-shade-1);
}

/* ================= HERO SECTION ================= */

/***** HERO GENERAL LAYOUT *****/
.section-hero {
  padding-block: 4.8rem 9.6rem;
  background-color: var(--color-tint-2);
}

.hero {
  /* Box */
  max-width: 130rem;
  margin-inline: auto;
  padding-inline: 3.2rem;

  /* Layout */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 9.6rem;
}

/***** HERO TEXT *****/

/* DESCRIPTION */
.hero-description {
  /* Font */
  color: var(--color-gray-2);
  font-size: 2rem;
  line-height: 1.6;

  /* Box */
  margin-bottom: 4.8rem;
}

/***** SATISFIED CUSTOMERS *****/

/* GENERAL LAYOUT */
.satisfied-customers {
  /* Layout */
  display: flex;
  align-items: center;

  /* Box */
  margin-top: 8rem;
}

/* CUSTOMER IMAGES CONTAINER */
.customers-img-box {
  margin-right: 1.6rem;
}

/* SATISFIED CUSTOMERS IMAGES */
.customer-img {
  /* Box */
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 3px solid var(--color-tint-2);
}
.customer-img:not(:last-child) {
  margin-right: -1.6rem;
}

/* DELIVERED MEALS */
.total-customers {
  font-size: 1.8rem;
  font-weight: var(--font-weight-semibold);
}
.total-customers span {
  color: var(--color-shade-2);
  font-weight: var(--font-weight-bold);
}

/* ================= FEATURES SECTION ================= */

/* GENERAL LAYOUT */
.section-featured {
  padding-block: 4.8rem 3.2rem;
}
.logos-container {
  display: flex;
  justify-content: space-around;
}

/* TITLE */
.featured-title {
  color: var(--color-gray-5);
  font-size: 1.4rem;
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-small-text);
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 2.4rem;
}

/* LOGOS */
.featured-logo {
  /* Box */
  height: 3.2rem;

  /* Style */
  filter: brightness(0);
  opacity: 55%;
}

/* ================= HOW IT WORKS SECTION ================= */

/* GENERAL LAYOUT */

/***** IMAGE *****/

/* CIRCLE */

/* IMAGE */

/***** TEXT *****/

/* NUMBER */

/* DESCRIPTION */

/* ================= MEALS SECTION ================= */

/***** CARD GENERAL LAYOUT *****/

/***** CARD TEXT *****/

/* MEAL's NAME */

/***** MEAL's ATTRIBUTE *****/

/* TAG */

/* GENERAL LAYOUT */

/* ICON */

/***** LINK ALL RECIPES *****/

/* ================= TESTIMONIALS SECTION ================= */

/***** TESTIMONIALS *****/

/* GENERAL LAYOUT */

/* IMAGE */

/* TESTIMONIAL */

/* AUTHOR */

/***** GALLERY *****/

/* GENERAL LAYOUT */

/* IMAGE */

/* ================= PRICING SECTION ================= */

/* GENERAL LAYOUT */

/* GENERAL STYLE */

/***** CARD HEADER *****/

/* GENERAL LAYOUT */

/* PLAN NAME */

/* PRICE */

/* PRICE TEXT */

/* CTA BUTTON */

/* PLAN DETAILS */

/* ================= FEATURE SECTION ================= */

/* ICON */

/* TITLE */

/* TEXT */

/* ================= CTA SECTION ================= */

/* GENERAL LAYOUT */

/***** TEXT BOX *****/

/* GENERAL LAYOUT */

/* TITLE */

/* DESCRIPTION */

/***** CTA FORM *****/

/* LABEL */

/* INPUT */

/* INPUT PLACEHOLDER */

/* FOCUS STATE */

/***** IMAGE *****/

/* ================= FOOTER SECTION ================= */

/***** COLUMN LOGO *****/

/* GENERAL LAYOUT */

/* SOCIAL LINKS */

/* COPYRIGHT */

/***** CONTACT US *****/

/***** FOOTER NAVBAR *****/

/* FOOTER HEADING */

/* FOOTER LINK */
