/* ================= DESIGN SYSTEM ================= */

:root {
  /** PRIMARY COLOR **/
  --color-tint-2: #fdf2e9;
  --color-tint-1: #fae5d3;
  --color-primary: #e67e22;
  --color-shade-1: #cf711f;
  --color-shade-2: #a15818; /* !Allowed on #fdf2e9*/
  --color-shade-3: #45200a;

  /** GRAY COLOR **/
  --color-gray-1: #333;
  --color-gray-2: #555;
  --color-gray-3: #6f6f6f; /* !Allowed on #fdf2e9 */
  --color-gray-4: #767676; /* !Allowed on white */
  --color-gray-5: #888;

  /** FONT WEIGHTS **/
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /** LINE HEIGHTS **/
  --line-height-big-text: 1.05;
  --line-height-paragraph: 1.7;

  /** BORDER RADIUS **/
  --border-radius-sm: 9px;
}

/* TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* ================= GENERAL RESET ================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  /* Font */
  color: #555;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}

/* IMAGE */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* LINKS */
a {
  display: inline-block;
  text-decoration: none;
}

/* BUTTON */
button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}

/* LIST */
ul {
  list-style: none;
}

/* BUTTON ANIMATION */
a,
button {
  transition: all 0.3s;
}

/* ================= HELPER CLASSES ================= */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

/* ================= HEADER SECTION ================= */

/* GENERAL LAYOUT */
header {
  /* Box */
  height: 9.6rem; /* !Because we want it to be sticky */
  padding-inline: 4.8rem;

  /* Layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Style */
  background-color: var(--color-tint-2);
}

/* LOGO */
.logo {
  height: 2.2rem;
}

/***** NAVBAR *****/

/* GENERAL LAYOUT */
.main-nav-list {
  /* Layout */
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

/* LINK */
.main-nav-link:link,
.main-nav-link:visited {
  /* Font */
  color: var(--color-gray-1);
  font-size: 1.8rem;
  font-weight: var(--font-weight-medium);
}
.main-nav-link:hover,
.main-nav-link:active {
  color: var(--color-shade-2);
}

/* CTA LINK */
.nav-cta:link,
.nav-cta:visited {
  /* Font */
  color: white;

  /* Box */
  padding: 1.2rem 2.4rem;
  border-radius: var(--border-radius-sm);

  /* Style */
  background-color: var(--color-primary);
}
.nav-cta:hover,
.nav-cta:active {
  background-color: var(--color-shade-1);
}

/* ================= HERO SECTION ================= */

/***** HERO GENERAL LAYOUT *****/

.section-hero {
  /* Box */
  padding-block: 4.8rem 9.6rem;

  /* Style */
  background-color: var(--color-tint-2);
}

.hero {
  /* Box */
  max-width: 130rem;
  margin-inline: auto;
  padding-inline: 3.2rem;

  /* Layout */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 9.6rem;
}

/***** HERO TEXT *****/

/* TITLE */
.heading-primary {
  /* Font */
  color: var(--color-gray-1);
  font-size: 5.2rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-big-text);
  letter-spacing: -0.5px;

  /* BOX */
  margin-bottom: 3.2rem;
}

/* DESCRIPTION */
.hero-description {
  /* Font */
  font-size: 2rem;
  line-height: var(--line-height-paragraph);

  /* Box */
  margin-bottom: 4.8rem;
}

/***** HERO BUTTONS *****/

.btn:link,
.btn:visited {
  /* Font */
  font-size: 2rem;
  font-weight: var(--font-weight-semibold);

  /* Box */
  padding: 1.6rem 3.2rem;
  border-radius: var(--border-radius-sm);
}

/* CTA BUTTON */
.btn--cta:link,
.btn--cta:visited {
  color: white;
  background-color: var(--color-primary);
}
.btn--cta:hover,
.btn--cta:active {
  background-color: var(--color-shade-1);
}

/* OUTLINE BUTTON */
.btn--outline:link,
.btn--outline:visited {
  color: var(--color-gray-2);
  background-color: white;

  /* !Important */
  box-shadow: inset 0 0 0 3px white;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: var(--color-tint-2);
}

/***** SATISFIED CUSTOMERS *****/

/* GENERAL LAYOUT */
.satisfied-customers {
  /* Box */
  margin-top: 8rem;

  /* Layout */
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

/* CUSTOMER IMAGES CONTAINER */
.customers-img-container {
  /* Layout */
  display: flex;
}

/* SATISFIED CUSTOMERS IMAGES */
.customers-img-container img {
  /* Box */
  height: 4.8rem;
  border-radius: 50%;
  border: 3px solid var(--color-tint-2);
  margin-right: -1.6rem;
}
.customers-img-container img:last-child {
  margin-right: 0;
}

/* DELIVERED MEALS */
.total-delivered-meals {
  /* Font */
  font-size: 1.8rem;
  font-weight: var(--font-weight-semibold);
}
.total-delivered-meals span {
  color: var(--color-shade-2);
  font-weight: var(--font-weight-bold);
}
